header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*  ====== CTA ========== */


.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

/*  ====== Socials header ========== */

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}



/* button */


.glow-on-hover {
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 0.4rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}







/*  ====== Me (img) ========== */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 17rem;
  /* width: 22rem; */
  height: 20rem;
  /* height: 30rem; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  /* left: 35%; */
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
}

/*  ======SCROLL========== */
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ######## MEDIA QUERY FOR MEDIUM DEVICES ######## */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .me{
    width: 20rem;
    height: 20rem;
}
}

/* ######## MEDIA QUERY FOR SMALL DEVICES ######## */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }

  .glow-on-hover{
    width: 300px;
    position: relative;
  right: 0.3rem;
  }
  .me{
    width: 8rem;
    height: 18rem;
}
}